<script type="text/ng-template"  id="tree_item_renderer.html">
    <div ng-if="node.file" class="action"><a class="unstyled" ng-href="#/view/{{ encodePath(node.path) }}"><i class="icon-file-text-alt"></i> {{ node.name }}</a></div>
    <div ng-if="!node.file">
        <div>
            <span class="action" ng-click="expandFolder(node)">
                <i ng-class="{'icon-folder-open-alt':node.expand,'icon-folder-close-alt':!node.expand}"></i> {{ node.name }}
            </span>
            <div class="btn-group pull-right">
            <span class="dropdown-toggle action" data-toggle="dropdown"><i class="icon-plus"></i></span>
            <ul class="dropdown-menu" role="menu">
                <li><a class="action" ng-click="showNewDialog('#newFileDialog',node)"><i class="icon-file-text-alt"></i> New File</a></li>
                <li><a class="action" ng-click="showNewDialog('#newFolderDialog', node)"><i class="icon-folder-close-alt"></i> New Folder</a></li>
            </ul>
            </div>
        </div>
        <ul class="list-unstyled folder" ng-show="node.expand">
            <li ng-repeat="node in node.nodes" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>
</script>
<div id="browserInclude" ng-controller="browserController">
    <ul class="list-unstyled">
        <li ng-repeat="node in tree" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</div>

<!-- new folder -->
<div class="modal fade" id="newFolderDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form name="formNewFolder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="icon-folder-close-alt"></i> New Folder</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" ng-model="newName" placeholder="Enter name of new folder..." required/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" ng-disabled="!formNewFolder.$valid" onclick="submitNewFolder()">Create Folder</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
<script type="text/javascript">
    var submitNewFolder = function() {
        angular.element($('#browserInclude')).scope().createFolder(formNewFolder);
    }
</script>
<!-- new file -->
<div class="modal fade" id="newFileDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form name="formNewFile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="icon-file-text-alt"></i> New File</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="newName" placeholder="Enter name of new file..." required/>
                    <span class="input-group-addon">.md</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-disabled="!formNewFile.$valid" ng-click="newFile(formNewFile)">Create File</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
